

/*Configurar la informacion de la pagina*/
.cardimg{
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.pic{
    padding-top: 45px;
}
.cardconf{
    margin: 2%;
    width: 100%;
    display: contents;
}
.espacio{
    width: 100%;
    margin-top: 5%;
    padding: 0%;
}
.tag{
    margin-top: 2%;
}
.text{
    text-align: justify;
    width: 97%;
}
th td{
    text-align: center;
}
.comen{
    width: 100%;
    margin: 2%;
    display: inline-flex;
}
.inicio{
    z-index: 2;
    margin-left: -100px;   
    margin-top: 15%;
}
.home{
    margin: 2%;
}
.espacio2{
    padding-right: 0%;    
}

.cat{
    display: -webkit-box;
    overflow-x: scroll;
    
}
.icon{
    width: 30px;
    height: 30px;
    padding: 5px;
}
/* scroll filter*/
.contenedor {

    width:100%;
    max-width: 100%;

    overflow:auto;
    box-sizing: border-box;
    
}
.contenedor::-webkit-scrollbar {
    display: -webkit-box;
    overflow-x: scroll;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
    overflow-x: scroll;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 2px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #d42323;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.footer{
    background-color: black;    
    color: white;
}

@media screen and (min-width: 500px) and (max-width: 779px) {
    .home{
        margin: 2%;
    }
    h2{
        text-align: center;
    }
    .text{
        width: 230%;
    }
    .espacio{
        padding-right: 1.25rem;
        width: 100%;
        padding-right: initial;
    }
    .inicio{
        width: 100%;    
        
        z-index: 2;
        margin-left: 0%;   
        margin-top: 20px;
    }
    .espacio2{
        padding-right: 0%;      
        padding-left: 30%;
    }
    .scroll{
        overflow-x: scroll;
    }
}
@media screen and (min-width: 780px) and (max-width: 1080px){
    .home{
        margin: 2%;
    }
    h2{
        text-align: center;
    }
    .text{
        width: 100%;
    }
    .espacio{
        padding-right: 1.25rem;
        width: 100%;
        padding-right: initial;
    }
    .inicio{
        width: 100%;    
        
        z-index: 2;
        margin-left: 0%;   
        margin-top: 20px;
    }
    .espacio2{
        padding-right: 0%;
        padding-left: 20%;
    }
    
}