<br>
<div class="home">
    <!-- This template is where we show the flights, buses and prices of different flights, buses -->
    <h6>Filter</h6>
    <div class="form-group row ">
        <label for="1" class="col-sm-3 col-form-label">Place:</label>
        <div class="col-sm-9 espacio2">
            <input type="text" ng-model="test" name="search" class="form-control " id="1" placeholder="Destination">
        </div>
    </div>
    <div class="form-group row ">
        <label for="1" class="col-sm-3 col-form-label">Budget:</label>
        <div class="col-sm-9 espacio2">
            <input id="1" type="text" ng-model="test2" class="form-control solo-numero" value=""
                placeholder="Enter only numbers" />
        </div>
    </div>
    <br>
    <div class="form-group row scroll">
        <img class="icon" src="./img/aeroplane.svg"> Flight
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody ng-repeat="vuelo in vuelos | filter:test | filter:test2">
                <tr>
                    <td>{{vuelo.destino}}</td>
                    <td>Lp. {{vuelo.costo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row scroll">
        <img class="icon" src="./img/bus.svg"> Bus
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody ng-repeat="vuelo in vuelos | filter:test | filter:test2">
                <tr>
                    <td>{{vuelo.destino}}</td>
                    <td>Lp. {{vuelo.costo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>